body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #063368cb, rgba(0, 0, 0, 0.726));
}
div.box {
  width: 40%;
  position: absolute;
  top: 65%;
  left: 50%;
  background-color: rgb(18, 101, 107);
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
}

.btn-group button {
  background-color: #3693ff; /* Green background */
  border: 1px solid #333; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  border-radius: 5%;
  border: 4px double #226fbe;
  border-radius: 60px;
}
button {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 15px;
  display: inline-block;
  margin: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  color: #fff;
  background: #226fbe;
  transition: none;
  border: 4px double #226fbe;
  border-radius: 50px;
}
h1 {
  box-sizing: border-box;
  margin: 1em 0 0.6em 0;
  padding: 0 0 0 20px;
  font-weight: normal;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  font-size: 30px;
  line-height: 40px;
  border-style: solid black;
  font-weight: bolder;
}

p {
  box-sizing: border-box;
  margin: 1em 0 0.6em 0;
  padding: 0 0 0 20px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  font-size: 20px;
  line-height: 30px;
}

select {
  border-collapse: collapse;
  font-family: sans-serif;
  color: white;
  border: none;
  border-radius: 4px;
}

select {
  background-color: DodgerBlue;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
button.active {
  color: #226fbe;
  background-color: white;
}
div.answer {
  color: #341f97;
  box-sizing: content-box;
  text-align: center;
  margin-left: 41%;
  width: 10%;
  padding: 25px;
  background-color: #3693ff;
  border: 5px #063368cb solid;
  font-size: 15px;
  font-weight: bold;
}
