@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
#home {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/img/dp.jpg);
  height: 92.7vh;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.text-primary {
  color: #3693ff;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
#navbar {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  padding: 1.5rem 8rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px solid #3693ff;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
#navbar h2 a {
  color: white;
  text-decoration: none;
}
#navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  margin: 0 0.4rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}
#navbar li a:hover {
  background-color: #3693ff;
}
#navbar ul li a.active {
  color: #fff;
  background-color: #3693ff;
}
#showcase {
  background-image: url(/img/dp.jpg);
  height: 92.7vh;
}
.showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 81px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.4);
  color: #fff;
}
.showcase-content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.showcase-content .btn {
  font-size: 1.5rem;
  padding: 1rem 10rem;
  transition: color 0.3s, background 0.3s;
}
.showcase-content .btn:hover {
  background: #3693ff;
  color: #fff;
}
#web-showcase {
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
}
#web-showcase .web-showcase-content .container h2 {
  color: #ffffff;
  font-size: 24px;
}
#web-showcase .web-showcase-content .container p {
  font-size: medium;
  color: #ffffff;
}
#web-showcase .web-showcase-content .container a {
  text-decoration: none;
  list-style: none;
  margin-left: 5%;
  color: #ffffff;
  line-height: 1em;
  cursor: pointer;
}
#web-showcase .web-showcase-content .container ol li {
  font-size: 18px;
  list-style-type: square;
  color: #3693ff;
}
#web-showcase .web-showcase-content .container ol li p {
  list-style-type: square;
  margin-left: 5%;
  color: #ffffff;
  text-align: justify;
}
#web-showcase .web-showcase-content .container ol li h3 {
  margin-left: 5%;
}
#web-showcase .web-showcase-content .container ol li p.para {
  margin-left: 10%;
}
#validation-showcase
  .validation-showcase-content
  .container
  .validation-img
  img {
  width: 50%;
}
.btn {
  color: #3693ff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border: #3693ff solid 1px;
  border-radius: 10px;
  font-weight: bold;
}
#about,
#project {
  padding: 0;
}
#about h2,
#services h2,
#project h2,
#project-services h2 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
}
#about h3,
#project h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#about p.lead {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}
#project p.lead {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#about .about-content,
#project .project-content {
  display: flex;
}
#about .about-text,
#about .about-image,
#project .project-text,
#project .project-image {
  flex: 1;
}
#about .about-image img,
#project .project-image img {
  display: block;
  margin-left: auto;
  width: 75%;
  border-radius: 40%;
  margin-top: 60px;
}
#services,
#project-services {
  padding: 5rem 0;
}
#services h3,
#project-services h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
#services .boxes,
#project-services .boxes {
  display: flex;
}
#services .box,
#project-services .box {
  background: #fff;
  flex: 1;
  padding: 3rem;
  margin: 0 3rem;
  border-radius: 18px;
  box-shadow: 2px 2px 5px #d1d1d1;
  font-size: 1rem;
}
#services .box i,
#project-services .box i {
  color: #fff;
  padding: 1rem;
  background: #3693ff;
  border-radius: 50%;
  margin: 0 1rem;
  margin-bottom: 2rem;
}
#project-services .mockup-image img {
  margin-left: auto;
  width: 75%;
  margin-top: 60px;
}
.bold {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.semi-bold {
  font-weight: 500;
  font-size: 16px;
}
.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 150px auto;
  list-style: none;
}
.resume .resume_left {
  width: 280px;
  background: #0bb5f4;
}
.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}
.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}
.resume .resume_left .resume_content {
  padding: 0 25px;
}
.resume .title {
  margin-bottom: 20px;
}
.resume .resume_left .bold {
  color: #fff;
}
.resume .resume_left .regular {
  color: #b1eaff;
}
.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}
.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0;
}
.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}
.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}
.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resume .resume_left ul li .data {
  color: #b1eaff;
}
.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}
.resume .resume_left .resume_electives ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}
.resume .resume_left .resume_soft ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}
.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}
.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}
.resume .resume_right .bold {
  color: #0bb5f4;
}
.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
  list-style: none;
}
.resume .resume_right ul li {
  position: relative;
}
.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.resume .resume_right ul li .info {
  margin-bottom: 20px;
}
.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}
.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: #0bb5f4 solid 2px;
}
.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #0bb5f4;
}
.resume .resume_right .resume_projects ul li {
  font-size: 30px;
  list-style-type: square;
  margin-left: 10%;
}
.resume .resume_right .resume_certifications ul li {
  font-size: 30px;
  list-style-type: square;
  margin-left: 10%;
}
